In [1]:
# Import Dependencies
import pandas as pd
import gmaps
import requests

# Import the API key
from config import g_key

In [2]:
# Store the CSV you saved from WeatherPY.ipynb into a DF
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Upernavik,GL,2022-04-25 03:19:29,72.7868,-56.1549,-0.54,88,42,6.49
1,1,Sitka,US,2022-04-25 03:21:21,57.0531,-135.3300,46.29,76,75,9.22
2,2,Ushuaia,AR,2022-04-25 03:18:12,-54.8000,-68.3000,37.06,81,0,5.75
3,3,Punta Arenas,CL,2022-04-25 03:22:13,-53.1500,-70.9167,42.91,87,100,10.36
4,4,Mataura,NZ,2022-04-25 03:18:13,-46.1927,168.8643,53.47,82,92,12.86

In [3]:
# use dtypes to check data types of df.  mapping data must be integer or float
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# Tell gmaps to use API key
gmaps.configure(api_key=g_key)

In [5]:
# Convert negative temps to positive (temps must be non-negative for heatmap_layer line of code!)
max_temp = city_data_df["Max Temp"]
city_data_df["Max Temp"] = pd.Series([0 if i < 0 else i for i in max_temp])
# or [max(temp, 0) for temp in city_data_df["Max Temp"]],
# If two or more positional arguments are provided, the largest of the positional arguments is returned.

# Get the maximum temperature non-negative (module code)

# temps = []
# for temp in max_temp:
#     temps.append(max(temp, 0))

In [6]:
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Upernavik,GL,2022-04-25 03:19:29,72.7868,-56.1549,0.00,88,42,6.49
1,1,Sitka,US,2022-04-25 03:21:21,57.0531,-135.3300,46.29,76,75,9.22
2,2,Ushuaia,AR,2022-04-25 03:18:12,-54.8000,-68.3000,37.06,81,0,5.75
3,3,Punta Arenas,CL,2022-04-25 03:22:13,-53.1500,-70.9167,42.91,87,100,10.36
4,4,Mataura,NZ,2022-04-25 03:18:13,-46.1927,168.8643,53.47,82,92,12.86

In [7]:
# Create HEATMAP for MAXIMUM TEMPERATURE

#1. Assign the locations to an array of latitude and longitude pairs
locations = city_data_df[["Lat", "Lng"]] # [latitude, longitude]
#2. Assign the weights variable to some values
temperatures = city_data_df["Max Temp"] # an array of lengh equal to the locations array length
#3. Assign the figure variable to the gmaps.figure() attribute
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
#4. Assign the heatmap_layer variable to the heatmap_layer attribute and add in the locations
heatmap_layer = gmaps.heatmap_layer(locations, weights=temperatures, dissipating=False)
# heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp])

heatmap_layer.max_intensity=300
heatmap_layer.point_radius=4
# could have passed next to dissipating in above step 4

#5 Add the heatmap layer
fig.add_layer(heatmap_layer)
#6. Call the figure to plot the data
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# Create HEATMAP for HUMIDITY

# Heatmap for percent humidity
locations = city_data_df[['Lat', 'Lng']]
humidity = city_data_df['Humidity']
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
#Call the figure to plot the data
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# Create HEATMAP for CLOUDINESS

# Heatmap for percent cloudiness
locations = city_data_df[['Lat', 'Lng']]
clouds = city_data_df['Cloudiness']
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
#Call the figure to plot the data
fig

Figure(layout=FigureLayout(height='420px'))

In [10]:
# Create HEATMAP for WIND SPEED

# Heatmap for wind speed
locations = city_data_df[['Lat', 'Lng']]
wind = city_data_df['Wind Speed']
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
#Call the figure to plot the data
fig

Figure(layout=FigureLayout(height='420px'))

In [11]:
# Get VACATION CRITERIA

In [12]:
# Ask the customer to add a minimum and maximum temperature value
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [13]:
# Filter the max temp column in city_data_df to create a new df with cities that meet input criteria
preferred_cities_df = city_data_df.loc[(city_data_df['Max Temp'] <= max_temp) & (city_data_df['Max Temp'] >= min_temp)]
preferred_cities_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
9,9,Avarua,CK,2022-04-25 03:21:26,-21.2078,-159.7750,82.45,74,20,4.61
12,12,Cayenne,GF,2022-04-25 03:21:28,4.9333,-52.3333,81.09,1,40,3.44
20,20,Canita,PA,2022-04-25 03:21:34,9.2097,-78.8811,75.69,94,100,0.96
21,21,Boa Vista,BR,2022-04-25 03:21:35,2.8197,-60.6733,78.78,78,40,2.30
28,28,Airai,TL,2022-04-25 03:21:39,-8.9266,125.4092,76.10,34,89,3.51

In [14]:
# Check for nulls
preferred_cities_df.count()

City_ID       138
City          138
Country       138
Date          138
Lat           138
Lng           138
Max Temp      138
Humidity      138
Cloudiness    138
Wind Speed    138
dtype: int64

In [15]:
# Create a DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates
hotel_df = preferred_cities_df[['City', 'Country', 'Max Temp', 'Lat', 'Lng']].copy()
hotel_df['Hotel Name'] = ""
hotel_df.head()

         City Country  Max Temp      Lat       Lng Hotel Name
9      Avarua      CK     82.45 -21.2078 -159.7750
12    Cayenne      GF     81.09   4.9333  -52.3333
20     Canita      PA     75.69   9.2097  -78.8811
21  Boa Vista      BR     78.78   2.8197  -60.6733
28      Airai      TL     76.10  -8.9266  125.4092

In [16]:
# Get Hotels from Nearby Search

# Set parameters to search for a hotel
params = {'radius': 5000,
         'type': 'lodging',
         'key': g_key
         }

In [17]:
# Find out what JSON data looks like in another jupyter file - "Google_Nearby_Search.ipynb"

In [21]:
# Iterate through hotel_df DataFrame
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude
    lat = row["Lat"]
    lng = row["Lng"]
    
    # Add the latitude and longitude to location key for the params dictionary
    params["location"] = f"{lat},{lng}"
    
    # Use the search term: "lodging" and our latitude and longitude
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    #Make request and get the JSON data from the serach
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [22]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
9,Avarua,CK,82.45,-21.2078,-159.7750,Paradise Inn
12,Cayenne,GF,81.09,4.9333,-52.3333,Hôtel Le Dronmi
20,Canita,PA,75.69,9.2097,-78.8811,Hospedaje Sol del Este Cañita
21,Boa Vista,BR,78.78,2.8197,-60.6733,Aipana Plaza Hotel
28,Airai,TL,76.10,-8.9266,125.4092,
34,Santarem,BR,75.33,-2.4431,-54.7083,Hotel Imperador
38,Bengkulu,ID,83.34,-3.8004,102.2655,Grage Hotel Bengkulu
41,Kailua,US,82.38,21.4022,-157.7394,Sheffield House Bed & Breakfast
52,Arlit,NE,80.89,18.7369,7.3853,Case de Passage De la Prefecture
59,Meulaboh,ID,84.38,4.1363,96.1285,Kost Pria

In [27]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temmp</dt><dd>{Max Temp}</dd>
"""

# Store the DataFrame Row
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [28]:
# Add a HEATMAP of temperature for the vacation spots
locations = hotel_df[['Lat', 'Lng']]
max_temp = hotel_df['Max Temp']
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
                                max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)
fig.add_layer(heat_layer)
# Call the figure to plot the data
fig

Figure(layout=FigureLayout(height='420px'))

In [25]:
# Add MARKERS to heatmap 
## loop back up to previous step and add: marker_layer and add_layer